<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sva.dao.LocationDao">
    
    <select id="findCurrentUser" resultType="int">
        SELECT 
            count(distinct userID)
        FROM 
            location
        WHERE 
            time_local &gt; #{time}
            and z = #{floorNo}
    </select>
    
    <delete id="deleteLocation">
        DELETE FROM location
    </delete>
    
    <select id="queryHeatmap" resultType="LocationModel">
        SELECT * 
        FROM (
            SELECT * 
            FROM location
            WHERE z = #{floorNo}
                and time_local &gt; #{time}
            ORDER BY time_local desc
        ) a 
        GROUP BY a.userID
    </select>
</mapper>